* {
  margin: 0;
  padding: 0;
}

// Utility class
.right {
  margin-left: auto;
}

// animation keyframes
@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
/* Navigation style */
nav {
  position: fixed;
  top: 0;
  z-index: 100000;
  width: 100%;
}
.navContainer {
  background-color: rgb(245, 221, 102);
  display: flex;
  padding: 1%;
  position: sticky;

  .logo {
    color: maroon;
    padding-left: 10px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .menuButton {
    display: none;
    padding-right: 10px;
    transition: all 0.3s;
  }
  .navMenu {
    list-style: none;
    display: flex;
    .navItem {
      transition: all 0.4s;
    }
    .navLink {
      text-decoration: none;
      color: black;
      margin-right: 20px;
      transition: all 0.4s;
    }
  }

  .navItem:hover {
    transform: scale(1.1);
  }

  .navLink:hover {
    color: maroon;
  }

  .menuButton:hover {
    color: maroon;
    cursor: pointer;
    transform: scale(1.1);
  }

  .logo:hover {
    transform: scale(1.1);
  }
  // For screen size below 600px
  @media only screen and (max-width: 600px) {
    .navMenu {
      display: none;
    }
    .menuButton {
      display: block;
    }
  }
}

// animations
.loading {
  border-bottom: 5px solid maroon;
  animation: loading 3s linear;
}

// this is for practices
header {
  display: flex;
  position: relative;
  height: 100svh;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  overflow: hidden;
  .importantInfo {
    color: aliceblue;
    position: absolute;
    text-align: center;
    padding: 10px;
    background-color: maroon;
    width: 100%;
    overflow: hidden;
    bottom: 0;
  }
}
