* {
  margin: 0;
  padding: 0;
}

.right {
  margin-left: auto;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
/* Navigation style */
.navContainer {
  background-color: rgb(245, 221, 102);
  display: flex;
  padding: 1%;
}
.navContainer .logo {
  color: maroon;
  padding-left: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.navContainer .menuButton {
  display: none;
  padding-right: 10px;
  transition: all 0.3s;
}
.navContainer .navMenu {
  list-style: none;
  display: flex;
}
.navContainer .navMenu .navItem {
  transition: all 0.4s;
}
.navContainer .navMenu .navLink {
  text-decoration: none;
  color: black;
  margin-right: 20px;
  transition: all 0.4s;
}
.navContainer .navItem:hover {
  transform: scale(1.1);
}
.navContainer .navLink:hover {
  color: maroon;
}
.navContainer .menuButton:hover {
  color: maroon;
  cursor: pointer;
  transform: scale(1.1);
}
.navContainer .logo:hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 600px) {
  .navContainer .navMenu {
    display: none;
  }
  .navContainer .menuButton {
    display: block;
  }
}

.loading {
  border-bottom: 5px solid maroon;
  animation: loading 3s linear;
}